<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("./partials/head.ejs",{title}) %>
    </head>
    <body>
        <%- include("./partials/navbar.ejs",{data}) %> <% if(content!==""){ %> <%- include(content,{data}) %> <% } %> <%
        if(locals.profiler !== undefined){ %> <%- include("../system/core/profiler.ejs") %><% } %>
    </body>
</html>
