<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head.ejs'); %>
    </head>
    <body>
        <h1>Register</h1>
        <%= locals.sessionFlash ? locals.sessionFlash : "" %>
        <form action="/process/register" method="post">
            <label for="first_name">First name:</label>
            <input type="text" name="firstName" placeholder="Don Juan" />
            <label for="last_name">Last name:</label>
            <input type="text" name="lastName" placeholder="Dela Cruz" />
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="donjuan@delacruz.com" />
            <label for="password">Password:</label>
            <input type="password" name="password" />
            <label for="confirm_password">Confirm password:</label>
            <input type="password" name="confirmPassword" />
            <input type="submit" name="register" value="Register" />
        </form>
        <h1>Log in</h1>
        <form action="/process/login" method="post">
            <label for="email">Email:</label>
            <input type="text" name="email" placeholder="donjuan@delacruz.com" />
            <label for="password">Password:</label>
            <input type="password" name="password" />
            <input type="submit" name="login" value="Log in" />
            <!-- <a href="reset-password.php">Reset password</a> -->
        </form>
    </body>
</html>
