<h1>Welcome <%= data.firstName %></h1>
<a class="logoff" href="/logoff">Log off</a>
<div class="results">
    <ul>
        <li>First Name: <%= data.firstName %></li>
        <li>Last Name: <%= data.lastName %></li>
        <li>Email Address: <%= data.email %></li>
    </ul>
</div>
