<div class="error"><%= "input error" %></div>
<div class="success"><%= "success" %></div>
<?php function convert_time($seconds, $date)
{
	if ($seconds > 604800) {
		$message_time = $date;
	} else {
		if (floor($seconds / 86400) >= 1) {
			$message_time = floor($seconds / 86400) . " day(s) ago";
		} elseif (floor($seconds / 3600) >= 1) {
			$message_time = floor($seconds / 3600) . " hour(s) ago";
		} elseif (floor($seconds / 60) >= 1) {
			$message_time = floor($seconds / 60) . " minute(s) ago";
		} else {
			$message_time = $seconds . " seconds ago";
		}
	}
	return $message_time;
} ?>
  <div class="container">
    <main class="form-signin w-100">
      <h1><?= $product[0]["name"] ?></h1>
      <p>Added since: <?= $product[0]["created_at"] ?></p>
      <p>Product ID: #<?= $product[0]["id"] ?></p>
      <p>Description: <?= $product[0]["description"] ?></p>
      <p>Total sold: <?= $product[0]["quantity_sold"] ?></p>
      <p>Number of available stocks: <?= $product[0]["inventory_count"] ?></p>
      <?= form_open("show/review/$id", ["class" => "needs-validation"]) ?>
        <div class="form-floating">
          <input type="hidden" name="product_id" value="<?= $id ?>" />
          <textarea name="review" class="form-control" id="floatingInput" placeholder="A super cool cap." style="height: 100px"></textarea>
          <label for="floatingInput">Leave a review</label>
          <input type="submit" class="mt-3 w-20 btn btn-sm btn-primary" value="Post review"/>
        </div>
      </form>
<?php foreach ($inbox as $row) { ?>
        <div>
          <h2 class="h5 mb-0 mt-3"><?= $row["reviewer_name"] ?> wrote:</h2>
          <p class="lead border mb-0"><?= $row["content"] ?></p>
          <span class='mb-3'><?= convert_time(
          	$row["time_difference"],
          	$row["review_date"]
          ) ?></span>
        </div>
<?php foreach ($row["replies"] as $reply) { ?>
        <div class="w-75 bg-light">
          <h2 class="h5 mb-0 mt-3"><?= $reply["replier_name"] ?> wrote:</h2>
          <p class="lead border mb-0"><?= $reply["content"] ?></p>
          <span class='mb-3'><?= convert_time(
          	$reply["time_difference"],
          	$reply["reply_date"]
          ) ?></span>
        </div>
<?php } ?>
        <?= form_open("show/reply/$id", [
        	"class" => "needs-validation w-75",
        ]) ?>
          <div class="form-floating">
            <input type="hidden" name="review_id" value="<?= $row["id"] ?>" />
            <textarea name="reply" class="form-control" id="floatingInput" placeholder="A super cool cap." style="height: 100px"></textarea>
            <label for="floatingInput">Leave a reply</label>
            <input type="submit" class="mt-3 w-20 btn btn-sm btn-outline-primary" value="Post reply"/>
          </div>
        </form>
<?php } ?>
    </main>
  </div>
  </body>